@media only screen and (max-width: 500px) {
  .languages {
    display: none;
  }

  .dropdownLanguages {
    display: block;
  }
}

.langItem1 {
  background-color: #e7d4fc;
}

.langItem {
  padding: 2px;
  margin: 2px;
}

.langItem:hover {
  background-color: #7f5ba3;
  color: white;
  cursor: pointer;
}

.langItem:hover::before {
  width: 100%;
  left: 0;
}
/* option{
    background-color: #7f5ba3;
} */

.heading {
  font-family: Poppins, sans-serif;

  /* font-weight: bold; */
}

.pfp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#java #cpp #python #html #js #css {
  scroll-behavior: smooth;
}

.content1 {
  background-image: linear-gradient(35deg, #7469b6, #ad88c6, #e1afd1, #ffe6e6);
  box-shadow: 0 2px 10px black;
}

.link {
  background: linear-gradient(35deg, #7469b6, #ad88c6, #9589dab5);
  background-color: #7469b6;
  color: white;

  /* transition: background-image 2s ease-in-out; */
  /* transition: background-color 0.5s ease-in-out;  */
}

.link:hover {
  transition: all 0.3s ease-in-out;
  scale: 1.1;
  box-shadow: 0 0 5px #7469b6;
  color: white;
}

.langIco:hover {
  transform: rotate(720deg);
  /* transform: rotate(-35deg); */
  transition: all 0.3s ease-in-out;
  transition-duration: 1.5s;
}

.semNo {
  width: 100px;
  height: 100px;
  border-radius: 25%;
  font-size: medium;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #a09bbeac;
  border: 2px solid #7469b6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.semNo:hover {
  background-color: #c2bce6ac;
  transition: all 0.3s ease-in-out;
}
.semNo.active {
  background-color: #69b672;
  border: 3px solid #52da6b;
  transition: all 0.3s ease-in-out;
}
.semNo:active {
  background-color: #7469b6;
  transition: all 0.3s ease-in-out;
}

/* cse.html css */
#syllabus-container {
  display: flex;
  border: 2px solid black;
}
.subject {
  height: 140px;
  width: 160px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.syllabusimage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.subjectbutton {
  margin-top: 5px;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px;
  border: 1px solid #333333;
}
